
{
    "presets": ["next/babel"]
  }

//   so I followed all of the directions on the right and did 
// install storybook but it didnt work
// ill show u directions
// do u guys see my annotations WHAT
// it working i think woah
// i thought npm install storybook was enough
// yes.. i will need to go further in tutorial, i can stop